    <section class="slice slice--offset-top bg-base-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5">
                  <div style="padding-bottom: 150px">
                    <h3 class="heading display-4 strong-400 c-white">
                        Créer un compte
                    </h3>
                      <div class="justify-content-center" style="padding: 10px">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="form-group row">
                        <div class="field col-6">
                          <%= f.label :firstname, "Prénom", class: "c-white"  %><br />
                          <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "form-control" %>
                        </div>

                        <div class="field col-6">
                          <%= f.label :lastname, "Nom", class: "c-white"  %><br />
                          <%= f.text_field :lastname, autocomplete: "lastname", class: "form-control" %>
                        </div>
                        </div>

                        <div class="form-group row justify-content-center">
                        <div class="field col-12">
                          <%= f.label :email, class: "c-white"  %><br />
                          <%= f.email_field :email, autocomplete: "email", class: "form-control" %><br />
                        </div>
                        </div>

                        <div class="form-group row justify-content-center">
                        <div class="field col-6">
                          <%= f.label :password, "Mot de passe", class: "c-white"  %>
                          <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> caractères min.)</em>
                          <% end %><br />
                          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                        </div>

                        <div class="field col-6">
                          <%= f.label :password_confirmation, "Confirmez votre mot de passe", class: "c-white"  %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %><br />
                        </div>
                      </div>

                        <div class="actions text-center">
                          <%= f.submit "S'inscrire", class: "btn btn-lg btn-success" %>
                        </div>
                      <% end %>
                      </div>

                  </div>
                </div>

            </div>
        </div>
</section>
