<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Date of creation</th>
        <th scope="col">Last date of connection</th>
        <th scope="col">Admin</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= order.firstname %></td>
          <td><%= order.lastname %></td>
          <td><%= order.email %></td>
          <td><%= order.created_at %></th>
          <td><%= order.last_sign_in_at %></th>
          <% if user_admin? %>
            <td>true</td>
          <% else %>
            <td>false</td>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
