<p id="notice"><%= notice %></p>
<div class="container-fluid w-75 text-center d-flex flex-column align-center">
  <table class="table table-bordered">
  <% if @cart.added_items.length > 0 %>
  <div class="container d-flex justify-content-center">
  <div class="container">
    <thead>
      <tr class="text-align-center table-active">
        <th>Article</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th><%= link_to "RAZ Panier", {controller: :carts, action: :destroy}, method: :delete , class: "btn btn-warning" %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.added_items.each do |item| %>
        <tr scope="row text-center align-center">
          <td><%= image_tag item.item_pic_url, size: "30x30" %> <%= item.title %></td>
          <td>
              <div class="col-6"> Prix unitaire : <%= (item.price).round %> €</div>
              <div class="col-6">
              <%= form_for(item, url: {controller: :carts, action: :update, id: item.id}, method: :patch) do |f| %>
              <%= f.number_field :quantity, {value: @cart.cart_items.where(added_item: item).last.quantity, within: 1..99, step: 1} %>
              <%= f.submit 'Recalculer' %>
              <% end %>
              </div>
          </td>
          <td>
              Sous-total : <%= ((item.price).round * @cart.cart_items.find_by(added_item: item).quantity.to_i) %> €
          </td>
          <td>
          <%= link_to 'Retirer', {action: :delete_to_cart, cart: @cart, item: item.cart_items.where(cart_id: @cart).ids.last}, method: :delete, class: "btn btn-danger" %>
          <%= link_to 'Aperçu', thumbnail_path(item.id), remote: true, class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
        <tr scope="row">
          <td></td>
          <td><strong class="float-right">TOTAL</strong></td>
          <td><strong><%= calcul_total %> €</strong></td>
          <td> <%= form_for @cart, url: {action: :payment, cart: @cart}, method: :post do |f| %>
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_e9HqqZw1jm0zaJWm0tfW7izo"
                    data-amount="<%= calcul_total * 100 %>"
                    data-email="<%= @user.email %>"
                    data-name="Paiement de <%= @user.firstname %>"
                    data-description="Pour la commande n°<%= @cart.id %>"
                    data-image="https://www.thehackingproject.org/assets/thp-logo-5f2f06c9444205a88123ca1de74646970e5a1dfb03698d02db33e5e62a60d6cd.png"
                    data-locale="auto"
                    data-currency="eur"
                    data-zip-code="false">
                  </script>
                <% end %>
          </td>
        </tr>
    </tbody>
    <div class="container col-3">
      <div id="item-content"></div>
    </div>
    </div>
      <% else %>
      <h4>Panier vide! 🤭 😦</h4>
      <% end %>
  </table>
</div>
