<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr class="text-align-center">
          <th>Article</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th></th>
        </tr>
      </thead>
      <% if @cart.added_items.length > 0 %>
      <tbody>
        <% @user.added_items.each do |item| %>
          <tr scope="row">
            <td><%= item.title %></td>
            <td><%= (item.price).round %> €</td>
            <td><%= link_to 'Retirer', {action: :delete_to_cart, cart: @cart, item: item.cart_items.where(cart_id: @cart).ids.last}, method: :delete, class: "btn btn-danger" %></td>
            <td><%= link_to 'Aperçu', thumbnail_path(item.id), remote: true %></td>
          </tr>
        <% end %>
        <tr scope="row">
          <td></td>
          <td><strong>TOTAL</strong></td>
          <td><strong><%= @total.round %> €</strong></td>
          <td> <%= link_to 'Passer la commande', create_order_path, method: :post, class: "btn btn-success" %></td>
        </tr>
      </tbody>
    </table>

      <% else %>
      <p>Paner vide!</p>
      <%= "Panier id : #{@cart.id}" %>
      <% end %>
  </div>

  <div class="col-3">
    <div id="item-content"></div>
  </div>
</div>
