<p id="notice"><%= notice %></p>
<div class="container-fluid w-75 text-center d-flex flex-column align-center">
  <table class="table table-bordered">
  <% if @cart.added_items.length > 0 %>
  <div class="container d-flex justify-content-center">
  <div class="container">
    <thead>
      <tr class="text-align-center table-active">
        <th>Article</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th><%= link_to "RAZ Panier", {controller: :carts, action: :destroy}, method: :delete , class: "btn btn-warning" %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.added_items.each do |item| %>
        <tr scope="row text-center align-center">
          <td><%= image_tag item.item_pic_url, size: "30x30" %> <%= item.title %></td>
          <td>
              <div class="col-6"> Prix unitaire : <%= (item.price).round %> €</div>
              <div class="col-6">
              <%= form_for(item, url: {controller: :carts, action: :update, id: item.id}, method: :patch) do |f| %>
              <%= f.number_field :quantity, {value: @cart.cart_items.where(added_item: item).last.quantity, within: 1..99, step: 1} %>
              <%= f.submit 'Recalculer' %>
              <% end %>
              </div>
          </td>
          <td>
              Sous-total : <%= ((item.price).round * @cart.cart_items.find_by(added_item: item).quantity.to_i) %> €
          </td>
          <td>
          <%= link_to 'Retirer', {action: :delete_to_cart, cart: @cart, item: item.cart_items.where(cart_id: @cart).ids.last}, method: :delete, class: "btn btn-danger" %>
          <%= link_to 'Aperçu', thumbnail_path(item.id), remote: true, class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
        <tr scope="row">
          <td></td>
          <td><strong class="float-right">TOTAL</strong></td>
          <td><strong><%= calcul_total %> €</strong></td>
          <td> <%= form_for @cart, url: {action: :payment, cart: @cart}, method: :post do |f| %>
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_Lr0Xk2XBTL5DEXWKeQJK3ZTR"
                    data-amount="<%= calcul_total * 100 %>"
                    data-email="<%= @user.email %>"
                    data-name="Paiement de <%= @user.firstname %>"
                    data-description="Pour la commande n°<%= @cart.id %>"
                    data-image="https://res.cloudinary.com/basta/image/upload/v1529067747/logo/Basta_logo_contour3px_retreci_rotation-9.png"
                    data-locale="auto"
                    data-currency="eur"
                    data-zip-code="false"
                    data-shipping-address="true">
                  </script>
                <% end %>
          </td>
        </tr>
    </tbody>
    <div class="container col-3">
      <div id="item-content"></div>
      </div>
    </div>
      <% else %>
      <h4>Panier vide! 🤭 😦</h4>
      <% end %>
  </table>
</div>

<!-- Modal -->

<div class="container-fluid w-75 text-center d-flex flex-column align-center">
  <table class="table table-bordered">
    <div class="container d-flex justify-content-center">
    <div class="container">
    <thead>
      <tr class="text-align-center table-active">
        
        <!-- Buttun -->
        <th>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Ajouter une adresse</button>
        </th>

        <!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
    </div>
  </div>
  </div>
  
  </tr>
  </thead>
  </div>
  </div>
  </table>
  </div>