<p id="notice"><%= notice %></p>
<div class="container-fluid w-75 text-center d-flex flex-column align-center">
  <table class="table table-bordered">
  <% if @cart.added_items.length > 0 %>
    <thead>
      <tr class="text-align-center table-active">
        <th>Article</th>
        <th>Prix</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user.added_items.each do |item| %>
        <tr scope="row text-center align-center">
          <td><%= image_tag "#{item.image_url}", size: "30x30" %>    <%= item.title %></td>
          <td><%= (item.price).round %> €</td>
          <td><%= link_to 'Aperçu', thumbnail_path(item.id), remote: true, class: "btn btn-info" %>
          <%= link_to 'Retirer', {action: :delete_to_cart, cart: @cart, item: item.cart_items.where(cart_id: @cart).ids.last}, method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
        <tr scope="row">
          <td></td>
          <td><strong>TOTAL</strong></td>
          <td><strong><%= @total.round %> €</strong></td>
          <td> <%= form_for @cart, url: {action: :payment, cart: @cart}, method: :post do |f| %>
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                    data-amount="<%= @total * 100 %>"
                    data-name="Paiement de <%= @user.firstname %>"
                    data-description="Pour la commande n°<%= @cart.id %>"
                    data-image="https://www.thehackingproject.org/assets/thp-logo-5f2f06c9444205a88123ca1de74646970e5a1dfb03698d02db33e5e62a60d6cd.png"
                    data-locale="auto"
                    data-currency="eur"
                    data-zip-code="false">
                  </script>
                <% end %>
                <!-- <%= link_to 'Passer la commande', create_order_path, method: :post, class: "btn btn-success" %> -->
          </td>
        </tr>
    </tbody>
      <% else %>

      <h4>Paner vide! 🤭 😦</h4>
      <% end %>
  </table>
  <div class="col-3">
    <div id="item-content"></div>
  </div>
</div>
