<p id="notice"><%= notice %></p>

<p><%= "truc #{@cart.id} machin" %></p>
<p><%= %></p>

<p><%= "truc" %></p>
<p><%= render @user.items if user_signed_in? %></p>
<p><%= @total if @user.items.length > 0 %></p>
