    <section class="slice slice--offset-top bg-base-1" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5">
                  <div style="padding-bottom: 150px">
                    <h3 class="heading display-4 strong-400 c-white">
                        Connexion
                    </h3>
                  <div style="padding: 10px">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                        <div class="field">
                          <%= f.label :email, class: "c-white" %><br />
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                        </div>

                        <div class="field">
                          <%= f.label :password, class: "c-white" %><br />
                          <%= f.password_field :password, autocomplete: "off", class: "form-control" %><br />
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <%= link_to "J'ai oublié mon mot de passe.", new_password_path(resource_name), class: "c-white" %>
                          </div>

                          <div class="col-6 field text-right">
                          <% if devise_mapping.rememberable? -%>
                              <%= f.label :remember_me, "Se souvenir de moi", class: "c-white" %>
                              <%= f.check_box :remember_me %>
                          <% end -%>
                          </div>
                        </div>

                        <div class="actions text-center">
                          <%= f.submit "Se connecter", class: "btn btn-lg btn-success" %>
                        </div>

                      <% end %>
                    </div>

                  </div>
                </div>
            </div>
        </div>
    </section>
