


      <%= form_for(@item, url: {action: "update", method: :patch}) do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', id: "exampleFormControlInput1", placeholder: "Title of Item" %>
        </div>

        <div class="form-group">
          <%= f.label :item_pic %>
          <%= f.hidden_field(:item_pic_cache) %>
          <%= f.file_field(:item_pic, :folder => "trucdetest") %>
        </div>

        <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', id: "exampleFormControlInput1", placeholder: "Description here" %>
        </div>
        <!-- Single input slider -->
        <div class="input-slider-container">
            <div id="input-slider" class="input-slider" data-range-value-min="1" data-range-value-max="99"></div>

            <!-- Input slider values -->
            <div class="row mt-4">
                <div class="col-6">
                    <label><%= f.number_field :price, id: "input-slider-value", class: "range-slider-value"%>€</label>
                </div>
            </div>
        </div>
        <div class="actions">
          <%= f.submit 'Okay !'%>
        </div>

      </div>
    </div>

      <% end %>
