  <div class="col-lg-3">
      <div class="card card-product mb-60 z-depth-1-top z-depth-2--hover">
          <div class="card-body">
            <h2 class="heading heading-6 strong-600 mt-2 mb-3">
              <a href="#"><%= item.title %></a>
            </h2>
            <div class="card-image swiper-js-container">
              <div class="">
                  <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <%= image_tag "#{item.image_url}", class: "img-fluid img-center img-primary" %>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="mt-3">
              <div class="price-wrapper">
                  <span class="price price-sm c-gray-dark">
                      <span class="strong-300">€ </span><span class="price-value strong-600"><%= (item.price).round %></span><small class="strong-300">.00</small>
                  </span>
                  <span class="clearfix"></span>
              </div>
              <h6 class="heading heading-sm strong-400 c-red">New!</h6>
              <p class="product-description mt-0 mb-0 txt">
                  <%= item.description %>
              </p>
            </div>
          </div>
          <div class="card-footer">
            <div class="product-buttons">
                <div class="row align-items-center">
                  <div class="col-6 text-align-center">
                       <i class="icon ion-android-cart"></i><%= link_to 'Voir', item_path(item), class: "btn btn-block btn-base-1 btn-circle btn-icon-left" %>
                      <!-- <button type="button" class="pr-4 btn btn-block btn-base-1 btn-circle btn-icon-left">
                          <i class="icon ion-android-cart"></i><%= link_to 'Show', item_path(item) %>
                      </button> -->
                    </div>
                    <div class="col-6 text-align-center">
                        <button type="button" class="pr-4 btn btn-block btn-base-1 btn-circle btn-icon-left">
                            <i class="icon ion-android-cart"></i>Buy!
                        </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
