
<div class="col my-auto">
  <div class="card mb-3" style="width: 16rem;height: auto;min-height: 30rem;position: relative;" >
    <%= image_tag item.item_pic_url, class: "card-img-top", size: "40vw" %>
    <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
      <p class="card-text" style="height: 3rem;"><%= item.description %></p>
      <p class="card-text"><small class="text-muted"><%= item.price %> €</small></p>
      <br>
      <div style="position: absolute;bottom: 0;right: 0;left: 0;">
        <%= link_to 'Afficher détails', item_path(item), class: "btn btn-info float-left ml-1 mb-1" %>
      <% if user_signed_in? %>
        <%= link_to 'Buy', adding_path(item), method: 'post', class: "btn btn-warning float-right mr-1 mb-1" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
