<div class="col">
  <div class="card mb-3" style="width: 18rem;height: 29rem;" >
    <%= image_tag "#{item.image_url}", class: "card-img-top", size: '100x180'%>
    <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
      <p class="card-text" style="height: 3rem;"><%= item.description %></p>
      <p class="card-text"><small class="text-muted"><%= item.price %> €</small></p>
      <a href="<%= item %>" class="btn btn-primary">Show item</a>
    </div>
  </div>
</div>
