<p id="notice"><%= notice %></p>
<div class="container w-50 border">
  <div class="mb-3 d-flex column justify-center">
    <%= cl_image_tag @item.item_pic_url, class: "img-fluid logo" %>
    <div class="card-body">
      <h5 class="card-title"><%= @item.title %></h5>
      <h3 class="card-title"><%= @item.price %> €</h3>
      <p class="card-text"><%= @item.description %></p>
      <p class="card-text"><small class="text-muted">Last updated <%= rand(1..120) %> mins ago</small></p>
      <% if current_user %>
      <%= link_to 'Buy', adding_path(@item), method: 'post', class: "btn btn-info" %>
      <% end %>
      <% if user_admin? %>
      <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-warning"%>
      <% end %>
    </div>
  </div>
</div>
