<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yo man, <%= @user.firstname.capitalize! %> de son joli nom <%= @user.lastname.upcase! %> a commandé !!</h1>
    <p>
      Voici le récap' de sa commande :
    </p>
    <table class="blueTable">
      <thead>
        <tr>
        <th>Title</th>
        <th>Référence article</th>
        <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.purchased_items.each_with_index do |item, i| %>
          <tr>
          <td><%= item.title  %></td>
          <td><%= rand(1567282..1919191) %></td>
          <td><%= item.price %> €</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
        <td colspan="3"><h3>Joli! Tu t'es fait :</h3></td>
        <td>
          <h3>somme totale</h3>
        </td>
        </tr>
      </tfoot>
    </table>

    <p>Thanks for ordering and have a great day!</p>
    <h5>The Fuckin' Chatons-Team Crew : Bab & Max.</h5>
    <h5>❤️</h5>
  </body>
</html>
