<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>"><img src="https://www.minoulechat.com/wp-content/themes/minoulechat/img/logo.png" style="height: 8vh;"/></a>
  <button class="navbar-toggler btn-lg" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto p-2 w-100">
      <li class="nav-item btn btn-info mr-4">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item btn btn-info mr-4">
        <a class="nav-link" href="<%= about_path %>">About</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item btn btn-info mr-4">
        <a class="nav-link">Welcome <%= (current_user.firstname).capitalize! %>!</a>
      </li>
      <% end %>
      <% if user_admin %>
      <li class="nav-item btn btn-danger">
        <a class="nav-link" href="<%= admin_path %>">Role:<%= (current_user.role).capitalize! %>!</a>
      </li>
      <% end %>
    </ul>


    <% if user_signed_in? %>
    <ul class="navbar-nav w-auto d-flex">
      <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
        <div class="btn-group">
          <button type="button" class="btn btn-dark dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle"></i> Account
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <p class="dropdown-item trim"><%= link_to 'Mon panier', mon_panier_path, class: "btn btn-outline-info" %></p>
            <div class="dropdown-divider"></div>
            <p class="dropdown-item trim"><%= link_to 'Settings', edit_user_registration_path, class: "btn btn-outline-warning" %></p>
            <div class="dropdown-divider "></div>
            <p class="dropdown-item trim"><%= link_to 'Log Out!', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %></p>
          </div>
        </div>
      </li>
    <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
      <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-shopping-cart"></i> Panier
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= render 'items/innercart' %>
        </div>
      </div>
    </li>
    <% else %>
    <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
        <a href="<%= new_user_registration_path %>" class="btn btn-warning" >
          <i class="fa fa-user-secret"></i> Sign up now !
        </a>
    </li>
    <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
        <a href="<%= new_user_session_path %>" class="btn btn-success" >
          <i class="fa fa-user"></i> Log in now !
        </a>
    </li>
  <% end %>
        </ul>
  </div>
</nav>
