<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>"><img src="https://www.minoulechat.com/wp-content/themes/minoulechat/img/logo.png" style="height: 4vw;"/></a>

  <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto p-3">
      <li> </li>
      <% if user_admin? %>
      <li class="btn btn-danger mr-3 mb-2 dropdown">
      <%= link_to admin_path, class: "nav-item link-home" do %><i class="fas fa-users-cog"></i><% end %>
      </li>
      <li class="btn btn-danger mr-3 mb-2 dropdown">
        <%= link_to items_path, class: "nav-item link-home" do%><i class="fas fa-newspaper"></i></i><% end %>
      </li>
      <li class="btn btn-danger mr-3 mb-2 dropdown">
        <%= link_to orders_path, class: "nav-item link-home" do%><i class="fas fa-money-check-alt"></i><% end %>
      </li>
      <% end %>
    </ul>


    <% if user_signed_in? %>
    <ul class="navbar-nav w-auto d-flex">
    <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
      <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle mb-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-shopping-cart"></i> Panier
        </button>
        <div class="dropdown-menu dropdown-menu-right mb-2">
          <div class="dropdown-item-text">
          <p class="dropdown-item-text"><%= link_to 'Mon panier', mon_panier_path, class: "btn btn-outline-info" %></p>
        </div>
          <%= render 'items/innercart' %>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
      <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle"></i> Compte
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <p class="dropdown-item trim"><%= link_to 'Mon profil', mon_profil_path, class: "btn btn-outline-secondary" %></p>
          <div class="dropdown-divider"></div>
          <p class="dropdown-item trim"><%= link_to 'Paramètres', edit_user_registration_path, class: "btn btn-outline-warning" %></p>
          <div class="dropdown-divider "></div>
          <p class="dropdown-item trim"><%= link_to 'Log Out!', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %></p>
        </div>
      </div>
    </li>
    <% else %>
    <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
        <a href="<%= new_user_registration_path %>" class="btn btn-warning" >
          <i class="fa fa-user-secret"></i> Sign up now !
        </a>
    </li>
    <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
        <a href="<%= new_user_session_path %>" class="btn btn-success" >
          <i class="fa fa-user"></i> Log in now !
        </a>
    </li>
  <% end %>
        </ul>
  </div>
</nav>
