<nav class="d-flex bd-highlight mb-3">
  <div class="mr-auto p-2 bd-highlight"><a class="" href="<%= root_path %>"><img src="https://fr.freepik.com/index.php?goto=74&idfoto=1028807" style="height: 70px;"/></a>
  </div>
  <div class="p-2 bd-highlight">    <ul class="d-flex flex-row">
        <% if user_signed_in? %>
        <li class="nav-item dropdown p-3 bd-highlight">
          <% if user_admin? %>
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle butt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle"></i> Admin
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <p class="dropdown-item trim">
                <%= link_to admin_path, class: "nav-item link-home btn btn-danger biton" do %><i class="fas fa-users-cog"></i>  Utilisateurs<% end %>
              </p>
              <div class="dropdown-divider"></div>
              <p class="dropdown-item trim">
                <%= link_to items_path, class: "nav-item link-home btn btn-danger biton" do%><i class="fas fa-newspaper"></i>  Articles<% end %>
              </p>
              <div class="dropdown-divider"></div>
              <p class="dropdown-item trim">
                <%= link_to orders_path, class: "nav-item link-home btn btn-danger biton" do%><i class="fas fa-money-check-alt"></i>  Commandes<% end %>
              </p>
            </div>
          </div>
          <% end %>
        </li>
        <li class="nav-item dropdown p-3 bd-highlight">
          <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle mb-2 butt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-shopping-cart"></i> Panier
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-item-text">
                <%= link_to 'Mon panier', mon_panier_path, class: "btn btn-outline-dark biton" %>
              </div>
              <%= render 'items/innercart' %>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown p-3 flex-shrink-1 bd-highlight">
          <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle butt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle"></i> Compte
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <p class="dropdown-item trim"><%= link_to 'Mon profil', mon_profil_path, class: "btn btn-outline-dark biton" %></p>
              <div class="dropdown-divider"></div>
              <p class="dropdown-item trim"><%= link_to 'Paramètres', edit_user_registration_path, class: "btn btn-outline-warning biton" %></p>
              <div class="dropdown-divider "></div>
              <p class="dropdown-item trim"><%= link_to 'Log Out!', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger biton" %></p>
            </div>
          </div>
        </li>
        <% else %>
        <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
            <a href="<%= new_user_registration_path %>" class="btn btn-warning" >
              <i class="fa fa-user-secret"></i> Sign up now !
            </a>
        </li>
        <li class="nav-item dropdown p-2 flex-shrink-1 bd-highlight">
            <a href="<%= new_user_session_path %>" class="btn btn-success" >
              <i class="fa fa-user"></i> Log in now !
            </a>
        </li>
      <% end %>
     </ul></div>
</nav>
