<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="http://natachaton.com/wp-content/uploads/2015/06/logo_chaton2-e1434753175996.png" />
    <title>e-Chatons Team BDX</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="site">
      <div class="site-header"><%= render 'layouts/header' %></div>
      <div id="container-fluid text-center">
        <% if flash[:success] %>
        <p class="btn btn-outline-success"><%= flash[:success] %></p>
        <% end %>
        <% if flash[:notice] %>
        <p class="btn btn-outline-info"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
        <p class="btn btn-outline-danger"><%= flash[:error] %></p>
        <% end %>
        <% flash[:error] = flash[:notice] = flash[:success] = nil %>
    </div>
        <div class="site-content"><%= yield %></div>
      <div class="site-footer"><%= render 'layouts/footer' %></div>
  </body>
</html>
