<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://fr.freepik.com/index.php?goto=74&idfoto=1028807" />
    <title>my-new-restaurant</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="site">
      <div class="site-header"><%= render 'layouts/header' %></div>
      <div class="text-center w-100 mx-auto">
        <% if flash[:success] %>
        <p class="btn btn-outline-success w-75"><%= flash[:success] %></p>
        <% end %>
        <% if flash[:notice] %>
        <p class="btn btn-outline-info w-75"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
        <p class="btn btn-outline-danger w-75"><%= flash[:error] %></p>
        <% end %>
        <% flash[:error] = flash[:notice] = flash[:success] = nil %>
    </div>
        <div class="site-content"><%= yield %></div>
      <div class="site-footer"><%= render 'layouts/footer' %></div>
  </body>
</html>
